@import "reset.scss";
/*
********************************
********* BASIC STYLES *********
********************************
*/
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: orange;
}
/*
********************************
************ CUSTOM ************
********************************
*/
@import "vars.scss";
@import "utils.scss";
@import "sections/header.scss";
@import "sections/services.scss";
@import "sections/showcase.scss";
@import "sections/aboutme.scss";
@import "sections/contactme.scss";
@import "sections/footer.scss";
@import "buttons.scss";
