.title-border {
  position: relative;
  &:after {
    content: "";
    width: 10%;
    position: absolute;
    top: 2.5rem;
    left: 50%;
    height: 3px;
    margin: 0 0 0 -5%;
    background-color: $principal;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
